<?xml version="1.0"?>
<config>

  <Camera>
	  <Enabled>true</Enabled>
	  <Zoom>
			<MaxZ>30</MaxZ>
			<FOV>0.85</FOV>		
			<Fog>50</Fog>
			<Style>2</Style>   <!-- Default Zoom Style, 1=Normal, 2= Isometric, 3=Epic -->
	  </Zoom>
	  <Rotation> 
		<Pitch>35</Pitch>
	  </Rotation>
  </Camera>
  
  <ScenarioHosting>
		<Enabled>true</Enabled>
  </ScenarioHosting>

  <LobbyExtension>
	<Enabled>true</Enabled>
  </LobbyExtension>
  
 <MenuSettings>
	<Enabled>false</Enabled>
	<ResolutionWidth>1280</ResolutionWidth>
	<ResolutionHeight>720</ResolutionHeight>
 </MenuSettings>    
  
  <HUDPlayers>
	<Enabled>true</Enabled>
	<Layout>
		<Left>0.845</Left>
		<Bottom>0.720</Bottom>
		<Width>0.150</Width>
		<Height>0.160</Height>
	</Layout> 
	<Style>
		<Background>
			<Color red='1' green='1' blue='1' />
			<FriendlyPlayerBGColor red='117' green='117' blue='117'/>
			<HostilePlayerBGColor red='37' green='37' blue='37' />
			<Opacity>0.5</Opacity>
		</Background>
		<Text>
			<Font>
				 <Name>Arial</Name>
				 <Size>12</Size>
			</Font>
			<ActivePlayerColor red='255' green='255' blue='255'/>
			<InactivePlayerColor red='150' green='150' blue='150'/>
		</Text>
	</Style>
  </HUDPlayers>
  
</config>
